<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="XMCloud">
    <settings>

      <!-- Minimum number of versions to always keep regardless its age -->
      <setting name="VersionsTrimmer.MinimumNumber" value="10"></setting>
      
      <!-- Minimum age (in days) to always keep regarless number of versions -->
      <setting name="VersionsTrimmer.NumberOfDays" value="730"></setting>
      
      <!-- Local Development and DEV with lower values to improve QA -->
      <setting name="VersionsTrimmer.MinimumNumber" env:require="local" value="1"></setting>
      <setting name="VersionsTrimmer.NumberOfDays" env:require="local" value="-1"></setting>
    </settings>

    <scheduling>
      <agent type="Oneok.Feature.VersionsTrimmer.Tasks.VersionsTrimmerTask, Oneok.Feature.VersionsTrimmer" method="Run" interval="00:45:00">
        <!-- Hour in the day to execute the job - daily -->
        <scheduledHours>1</scheduledHours>
        <!-- Paths where the job will be executed from daily -->
        <scope>/sitecore/content/Sites/ONEOK/Home|/sitecore/content/Sites/ONEOK/Data|/sitecore/media library/NGP|/sitecore/media library/ONEOK</scope>
        <!-- Database to execute -->
        <database>master</database>
      </agent>
    </scheduling>

    <commands>
      <command name="oneok:trimitemversions" type="Oneok.Feature.VersionsTrimmer.Commands.TrimItemVersionsCommand, Oneok.Feature.VersionsTrimmer" />
      <command name="oneok:trimtreeversions" type="Oneok.Feature.VersionsTrimmer.Commands.TrimTreeVersionsCommand, Oneok.Feature.VersionsTrimmer" />
    </commands>
  </sitecore>
</configuration>